*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
    box-shadow: 2px 2px 12px 1px black;
}
.logo{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 60px;
    height: 60px;

}
.navigation{
    flex-grow: 2;
}
.navigation ul{
    list-style: none;
    display: flex;
    align-items: start;
}
.navigation ul li{
    margin: 0px .5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #282c3f;
    font-size: 14px;
}
.search{
    flex-grow: 3;
}
.search>div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
}
.search>div>i{
    padding: 0px 10px;
}
.search>div>input{
    background-color: #ebebeb;
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
}
.profile{
    flex-grow: 1;
    margin-left: 10px;
}
.profile>ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.profile>ul>li{
    font-weight: bold;
    text-transform: uppercase;
    color: #282c3f;
    font-size: 14px;
    text-align: center;
}
.profile>ul>li>i{
    font-size: 20px;
}
sup{
    font-size: 10px;
    color: hotpink;
}

@media only screen and (max-width: 600px) {
    .reponsive{
        align-items: center;
        width: 100%;
        display: flex;
        height: 50px;
        justify-content: space-between;
        padding: 0px 20px;
    }
    *{
        box-sizing: border-box;
    }
    .navbar{
        display: none;
    }
    .res-logo{
        display: flex;
        align-items: center;
        flex-grow: 2;
        gap: 10px;
    }
    .res-logo img{
        height: 40px;
        width: 40px;
    }
    .res-logo>.back>i{
        font-size: 18px;
        text-align: center;
    }
    .img{
        display: flex;
    }
    .text>p,span{
        font-size: 10px;
        text-align: center;
    }
    .icons>i{
        font-size: 16px;
        margin: 0px 6px;
    }
    .icons{
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        align-items: end;
    }
  }
  

@media only screen and (min-width: 600px) {
    .reponsive{
        display: none;
    }
  }
  
